﻿body {
    overflow: hidden;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.map {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.nav {
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #07823A), color-stop(0.66, #24911F) );
    background-image: -o-linear-gradient(top, #07823A 0%, #24911F 66%);
    background-image: -moz-linear-gradient(top, #07823A 0%, #24911F 66%);
    background-image: -webkit-linear-gradient(top, #07823A 0%, #24911F 66%);
    background-image: -ms-linear-gradient(top, #07823A 0%, #24911F 66%);
    background-image: linear-gradient(to top, #07823A 0%, #24911F 66%);
    width: 100%;
    height: 30px;
}

.nav-table {
    position: relative;
    width: 100%;
    height: inherit;
}

    .nav-table td {
        float: left;
    }

.option-wrapper {
    position: relative;
    width: 39%;
    min-width: 700px;
}

.logo {
    position: relative;
    width: auto;
    height: auto;
    margin: 0px;
    font-size: 25px;
}

.view-filter {
    position: relative;
    min-width: inherit;
    width: auto;
    height: auto;
    margin-left: 100px;
    min-width: 300px;
}

.option {
    position: relative;
    cursor: pointer;
    width: 100px;
}

.option, .hid {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0;
}

.view-filter label {
    position: relative;
    top: 0px;
    padding: 10px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    cursor: pointer;
}

.view-filter .venue {
    background-color: #2980b9;
}

.view-filter .venue-public {
    background-color: #27ae60;
}

.view-filter .venue-private {
    background-color: #34495e;
}

.view-filter .weather {
    background-color: #16a085;
}

.view-filter .traffic {
    background-color: #b53224;
}

.view-filter .ofimportance {
    background-color: #7f8c8d;
}



.view-filter label:focus {
    font-style: oblique;
}

.view-filter #opt-venue:checked + label {
    border-bottom: 7px solid #2475ab;
    -webkit-box-shadow: inset 0 -7px #2475ab;
    box-shadow: inset 0 -7px #2475ab;
    font-weight: bolder;
}

.view-filter #opt-venue-public:checked + label {
    border-bottom: 7px solid #219d55;
    -webkit-box-shadow: inset 0 -7px #219d55;
    box-shadow: inset 0 -7px #219d55;
    font-weight: bolder;
}

.view-filter #opt-venue-private:checked + label {
    border-bottom: 7px solid #263849;
    -webkit-box-shadow: inset 0 -7px #263849;
    box-shadow: inset 0 -7px #263849;
    font-weight: bolder;
}

.view-filter #opt-weather:checked + label {
    border-bottom: 7px solid #12ab8d;
    -webkit-box-shadow: inset 0 -7px #12ab8d;
    box-shadow: inset 0 -7px #12ab8d;
    font-weight: bolder;
}

.view-filter #opt-traffic:checked + label {
    border-bottom: 7px solid #b53224;
    -webkit-box-shadow: inset 0 -7px #b53224;
    box-shadow: inset 0 -7px #b53224;
    font-weight: bolder;
}


.view-filter #opt-ofimportance:checked + label {
    border-bottom: 7px solid #6d7b7c;
    -webkit-box-shadow: inset 0 -7px #6d7b7c;
    box-shadow: inset 0 -7px #6d7b7c;
    font-weight: bolder;
}



.search {
    position: relative;
    width: auto;
    min-width: 300px;
}

    .search input {
        position: relative;
        height: auto;
        width: 250px;
    }


.searchIcon {
    display: inline-block;
    width: 20px;
    min-width: 20px;
    height: 22px;
    top: 5px;
    left: -7px;
    position: relative;
    background: url('../images/search_icon.png') center no-repeat;
}

.spammer {
    position: relative;
    float: right;
    width: 288px;
    min-height: 30px;
    top: -2px;
    right: -2px;
    height: 20px;
    background-color: gray;
    z-index: 3;
    display: none;
}

.profileAction {
    height: 200px;
    width: 150px;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 50%;
    z-index: 2;
}

.profImg {
    background: url('../images/user.png') center no-repeat;
    background-color: lightgray;
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: -1px;
    margin-bottom: -1px;
    float: left;
    opacity: 0.80;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
    filter: alpha(opacity = 80);
}

.settings-panel {
    position: relative;
    display: none;
    list-style: none;
    margin-top: 70px;
}

    .settings-panel label {
        cursor: pointer;
        position: relative;
        line-height: 30px;
        width: 100%;
        padding: 0px 0px 0px 5px;
        float: left;
        text-align: left;
        background-color: green;
    }



#element_to_pop_up {
    background-color: #fff;
    border-radius: 15px;
    color: #000;
    display: none;
    padding: 20px;
    min-width: 400px;
    min-height: 180px;
}

.b-close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
}

.typeBtn {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
}

.red {
    background-image: url('../images/PrivacyLevel/red.png');
}

    .red:checked {
        background-image: url('../images/PrivacyLevel/red.png');
    }


.blue {
    background-image: url('../images/PrivacyLevel/blue.png');
}

    .blue:checked {
        background-image: url('../images/PrivacyLevel/blue-pushed.png');
    }


.green {
    background-image: url('../images/PrivacyLevel/green.png');
}

    .green:checked {
        background-image: url('../images/PrivacyLevel/green.png');
    }


.event {
    position: relative;
    width: 200px;
    height: auto;
    overflow: hidden;
}

.new {
    height: 250px;
}

.details {
    position: relative;
    height: 170px;
}

    .details p {
        margin: 4px;
    }

.smallInput {
    min-width: 110px;
    max-width: 110px;
}

.typeChoiceBtn {
    position: relative;
    margin: 0px;
}

.pinit {
    width: 10px;
    height: 10px;
    float: right;
    background-color: red;
}

.extra {
    position: relative;
    height: 70px;
    top: 13px;
}

.span-expand {
    float: right;
    font-size: small;
    font-style: oblique;
    text-decoration: underline;
    cursor: pointer;
}

    .span-expand:hover {
    }

.address {
    font-style: italic;
}

.replaceInput input {
    width: 200px;
}

.vote {
    position: relative;
    float: right;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin: 2px;
    padding: 0;
    border: none;
    background: none;
}

    .vote:hover {
        border: 1px solid gray;
    }

.up {
    background: url('../images/vote/up.png') center no-repeat;
}

    .up:disabled {
        background: url('../images/vote/dis-up.png') center no-repeat;
    }

.down {
    background: url('../images/vote/down.png') center no-repeat;
}

    .down:disabled {
        background: url('../images/vote/dis-down.png') center no-repeat;
    }

.slowDown {
    position: absolute;
    background-color: red;
    width: 200px;
    height: auto;
    margin-left: 40%;
    margin-right: 60%;
    display: none;
    z-index: 9;
}

.attention {
    outline: none;
    border: 1px solid #ED0000;
    /* create a BIG glow */
    box-shadow: 0px 0px 14px #ED0000;
    -moz-box-shadow: 0px 0px 14px #ED0000;
    -webkit-box-shadow: 0px 0px 14px #ED0000;
    background-color: white;
}

.cleanbtn {
    cursor: pointer;
    background: none;
    border: 0;
    position: relative;
    line-height: 30px;
    width: 100%;
    padding: -15px 0px 0px 5px;
    float: left;
    text-align: left;
    font-size: 15px;
}

.smallerInput {
    min-width: 20px;
    max-width: 20px;
    margin: 5px 5px 5px 5px;
}

.smallSelect {
    min-width: 50px;
    max-width: 50px;
    margin: 0;
    padding: 0;
    margin-left:5px;
}
