<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Totum - Blog</title>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheet/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/blog.css">
    <script src="/JQuery/jquery-1.10.2.min.js"></script>
    <script src="/JQuery/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/javascript/blog.js"></script>
</head>
<body onload="init()">
    <div class="w-container h"></div>
    <div class="w-container wrapper">
        <h1>Totum</h1>
        <h3>This blog is dedicated to provide dairy entries in regards to my final year project - Christos Zioutas </h3>
        <br />
        <div class="w-row mainblog">
            <div class="w-col w-col-9 left-col">
                <div class="entryContainer">
                </div>
            </div>
        </div>
        <div class="w-col w-col-3 right-col"></div>
    </div>
    </div>
  <footer class="w-container f"></footer>
</body>
</html>