<!doctype html>
<html>
<head>
	<title>Totum</title>
  <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
	<div class="jumbotron text-center">
		<h1>Totum</h1>
    <h2>Socia Media Visualized</h2>

		<p>Login or Register with:</p>

		<a href="/login" class="btn btn-default" ><span class="fa fa-user"></span> Login</a>
		<a href="/signup" class="btn btn-default" ><span class="fa fa-user"></span> Signup</a>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
		<a href="/auth/google" class="btn btn-danger" disabled="true"><span class="fa fa-google-plus"></span> Google+</a>
	</div>

	<div class="text-center">
    <h4>Developed by:</h4>
    <br />
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/zioutas-christos/5a/ab6/608" data-format="inline" data-related="false"></script>
    <br />
    <h4> Visit the blog for further details </h4>
    <a href="/blog" class="btn btn-default"><span class="fa fa-blog"></span> Blog
    </a>
	</div>


</div>
</body>
</html>