<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Login</h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
    <form name="login-form" method="post" action="/login" data-name="login Form" enctype="application/x-www-form-urlencoded">
		<div class="form-group">
      <label for="email">Email Address:</label>
			<input type="text" class="form-control" placeholder="Type Email" name="email"/>
		</div>
		<div class="form-group">
      <label for="password">Password:</label>
			<input type="password" class="form-control" placeholder="Type Password" name="password" required="required"/>
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Login</button>
	</form>

	<hr>

	<p>Need an account? <a href="/signup">Signup</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>
</div>
</body>
</html>