﻿<html>

  <head>
    <title>Totum</title>
    <meta name="viewport" content="width=device-width"/>
		    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP9wV_ZXW3taH-fpA-VFIRDz2Oc4JhZ4U&sensor=true"></script>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.0/cosmo/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/stylesheet/totum.css" rel="stylesheet" />
    <script src="/JQuery/jquery-ui-1.10.3.custom.min.js"></script>
	    <script src="/javascript/bootstrap-datetimepicker.js"></script>
    <link href="/stylesheet/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<script src="/javascript/Event.js"></script>
	 <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="/javascript/map.js"></script>

    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      /*       * Style tweaks       * --------------------------------------------------       */
      footer {
      padding-left: 15px;
      padding-right: 15px;
      }
      /*       * Off Canvas       * --------------------------------------------------       */
      @media screen and(max-width: 768px) {
      .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
      }
      .row-offcanvas-right .sidebar-offcanvas {
      right: -50%;
      /* 6 columns */
      }
      .row-offcanvas-left .sidebar-offcanvas {
      left: -50%;
      /* 6 columns */
      }
      .row-offcanvas-right.active {
      right: 50%;
      /* 6 columns */
      }
      .row-offcanvas-left.active {
      left: 50%;
      /* 6 columns */
      }
      .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 50%;
      /* 6 columns */
      }
      .btn-group {
      margin-top:7px;
      }
      }
    </style>
  </head>

  <body onload="init();">
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Totum </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"></li>
            <li>
              <div class="btn-group" style="margin-top:7px;">
                <button class="btn btn-primary">Venue</button>
                <button class="btn btn-success">Public</button>
                <button class="btn btn-danger">Private</button>
                <button class="btn btn-warning">Traffic</button>
                <button class="btn btn-info">Global Interest</button>
              </div>
            </li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" />
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <div class="btn-group" style="margin-top:7px;">
              <button class="btn btn-default" data-toggle="dropdown" href="#">
                <img src="/images/user.png" class="user" />
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a onclick="$('#myprofile').modal();">My Profile</a>
                </li>
                <li>
                  <hr />
                </li>
                <li>
                  <a href="#">This will show each notification</a>
                </li>
              </ul>
            </div>
          </ul>
        </div>
        <!-- /.nav-collapse -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.navbar -->
    <!--/.container-->
    <script>
      $(document).ready(function () {
      $('[data-toggle=offcanvas]').click(function () {
      $('.row-offcanvas').toggleClass('active');
      });
      });
    </script>
	<div id="spammer" style='position:absolute; overflow:scroll; overflow-x:hidden; z-index:999; margin-top:50px; width:300px; height:60%; float:right; background-color:gray; opacity:0.8; filter:alpha(opacity=10);'>
	</div>
    <div class="map" id="GoogleMap">
    </div>
    <div class="modal fade" id="myprofile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="myModalLabel">Your profile</h4>
          </div>
          <div class="modal-body">
            <div class="container">

              <div class="page-header text-center">
                <h1>
                  <span class="fa fa-anchor"></span> Profile Page
                </h1>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
              </div>

              <div class="row">

                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                  <div class="well">
                    <h3>
                      <span class="fa fa-user"></span> Local
                    </h3>
									<% if (user.local.email) { %>
					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.local.email %><br>
					</p>

					<a href="/unlink/local" class="btn btn-default">Unlink</a>
				<% } else { %>
					<a href="/connect/local" class="btn btn-default">Connect Local</a>
				<% } %>


                  </div>
                </div>

                <!-- FACEBOOK INFORMATION -->
                <div class="col-sm-6">
                  <div class="well">
                    <h3 class="text-primary">
                      <span class="fa fa-facebook"></span> Facebook
                    </h3>

                    <!-- check if the user has this token (is the user authenticated with this social account) -->
				<% if (user.facebook.token) { %>
					<p>
						<strong>id</strong>: <%= user.facebook.id %><br>
						<strong>email</strong>: <%= user.facebook.email %><br>
						<strong>name</strong>: <%= user.facebook.name %><br>
					</p>

					<a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
				<% } else { %>
					<a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
				<% } %>

                  </div>
                </div>
              </div>
              <div class="row">

                <!-- TWITTER INFORMATION -->
                <div class="col-sm-6">
                  <div class="well">
                    <h3 class="text-info">
                      <span class="fa fa-twitter"></span> Twitter
                    </h3>
					<% if (user.twitter.token) { %>
					<p>
						<strong>id</strong>: <%= user.twitter.id %><br>
						<strong>display name</strong>: <%= user.twitter.displayName %><br>
						<strong>username</strong>: <%= user.twitter.username %>
					</p>

					<a href="/unlink/twitter" class="btn btn-info">Unlink</a>
				<% } else { %>
					<a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
				<% } %>

                  </div>
                </div>

                <!-- GOOGLE INFORMATION -->
                <div class="col-sm-6">
                  <div class="well">
                    <h3 class="text-danger">
                      <span class="fa fa-google-plus"></span> Google+
                    </h3>
					<% if (user.google.token) { %>
					<p>
						<strong>id</strong>: <%= user.google.id %><br>
						<strong>email</strong>: <%= user.google.email %><br>
						<strong>name</strong>: <%= user.google.name %>
					</p>

					<a href="/unlink/google" class="btn btn-danger">Unlink</a>
				<% } else { %>
					<a href="/connect/google" class="btn btn-danger" disabled="true">Connect Google</a>
				<% } %>

                  </div>
                </div>
              </div>
            </div>
          </div>


          </div>
        </div>
      </div>
    </div>
  </body>

</html>