<div>
    <div class="container">
        <ul class="nav nav-pills pull-left">
            <li>
                <div class="btn-group VenueBtnGrp" >
                    <button class="btn dropdown-toggle btn-primary btn-xs venueChoiceBtnNOID" data-toggle="dropdown" disabled>
                        Venue<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li >
                            <a id="l1NewID" onclick=" triggerEv($(this).attr('id')); $(this).parent().parent().prev().text($(this).text()); $(this).closest('.container').find('.TrafficBtn').prop('disabled', false);">First Link</a>
                        </li>
                        <li>
                            <a id="l2NewID" onclick=" triggerEv($(this).attr('id')); $(this).parent().parent().prev().text($(this).text());">Second Link</a>
                        </li>
                        <li>
                            <a id="l3NewID" onclick=" triggerEv($(this).attr('id')); $(this).parent().parent().prev().text($(this).text());">Third Link</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <button class="btn btn-danger btn-xs trafficChoiceBtnNOID" disabled id="TrBtnNewID" onclick="triggerEv('TrafficClickNOID'); $($($(this).parent().prev().children()[0]).children()[0]).text('Venue'); $(this).prop('disabled', true);">Traffic</button>
            </li>
        </ul><br><br>
        <ul class="list-unstyled">
            <li>
                <input type="text" id="EventNameNOID" class="form-control input-sm" placeholder="Name">
            </li>
            <li>
                <div class="input-append date form_datetime pull-left" id="datetimepicker">
                    <input id="EventDateNOID" class="form-control act2-date" size="16" placeholder="Date" style="background-color: white; width: 190px;" type="text" value="" readonly onclick="$(this).parent().datetimepicker('show');">
                    <span class="add-on"><i class="icon-remove"></i></span>
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                <input type="text" class="form-control" style="display: block;" id="mirror_field_act2" value="" readonly />

                <script type="text/javascript">
                    $(".form_datetime").datetimepicker({
                        format: "dd MM yyyy - hh:ii",
                        autoclose: true,
                        todayBtn: true,
                        minuteStep: 30,
                        autoclose: true,
                        todayHighlight: true,
                        linkField: "mirror_field_act2",
                        linkFormat: "yyyy-mm-dd hh:ii"
                    });
                </script>

            </li>
            <li>
                <textarea id="EventDescNOID" class="form-control" rows="4" placeholder="Description"></textarea>
            </li>
        </ul>
        <input type="text" id="addressNOID" class="form-control input-sm addressNewID" placeholder="Address">
        <br />
        <button class="btn btn-warning btn-xs" id="PrivBtnNewID" disabled onclick="triggerEv($(this).attr('id')); $(this).prop('disabled', true); $(this).next().prop('disabled', false);">Private</button>
        <button class="btn btn-success btn-xs" id="PubBtnNewID" disabled onclick="triggerEv($(this).attr('id')); $(this).prop('disabled', true); $(this).prev().prop('disabled', false);">Public</button>
    </div>
</div>
