<div class="container">
    <ul class="nav nav-pills pull-left">
        <li>
            <button class="btn btn-primary btn-xs disabled" id="VenueBtnNoID">Venue</button>
        </li>
        <li>
            <button class="btn btn-danger btn-xs disabled" id="TrafficBtnNoID" style="display:none;">Traffic</button>
        </li>
    </ul>
    <ul class="nav nav-pills pull-right">
        <li>
            <button disabled class="btn btn-primary btn-xs pinit" onclick="pinIt('EventID')" id="PinNoID">Pin</button>
        </li>
        <li>
            <button disabled class="btn btn-success btn-xs vote up" id="UNOID">U</button>
        </li>
        <li>
            <button disabled class="btn btn-danger btn-xs vote up" id="DNOID">D</button>
        </li>
    </ul><br><br>
    <ul class="list-unstyled">
        <li>
            <label id="EventNameNOID" class="transformable">EventNameVal</label>
        </li>
        <li>
            <label id="EventDateNOID" class="transformable">EventDateVal</label>
        </li>
        <li>
            <label id="EventDescNOID" class="transformable">EventDescVal</label>
        </li>
        <li>
            <label id="EventAddNOID" class="transformable">EventAddVal</label>
        </li>
    </ul>
    <button class="btn btn-warning btn-xs disabled" id="PrivBtnNOID">Private</button>
    <button class="btn btn-success btn-xs disabled" id="PublicBtnNOID">Public</button>
    <button class="btn pull-right btn-primary btn-sm" id="AttendBtnNOID" disabled>Attend</button>
</div>